<div class="<%= col %>" id="<%= comment.id%>">
  <p> Posted: <%= comment.friendly_created_at %> by <%= comment.user.name %></p>
  <p>On <%= link_to comment.task.name, task_path(comment.task) %> </p>
  <p class="comment-content"> <%= comment.content %></p>
  <div class="inline-button">
    <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-sm btn-primary edit-comment" %> 
  </div>
  
  <div class="line-light"></div>
</div>
<% if comment.index_check(index) %>
  <div class="clearfix"></div>
<% end %>


